.block {
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 300px;
  float: left;
}

.text {
  width: 650px;
  float: right;
}

.category {
  background-color: #aaaaaa;
  color: white;
  padding: 0px 5px 4px 5px;
  border-radius: 20px;
}